@import '../constants.less';
.brand-tab{
    width: 3.71rem;
    height: 1.52rem;
    margin: 0.23rem 0 0 0.23rem;
    background: @blue;
}
.brand-tl{
    width: 1.52rem;
    float: left;
    margin:0.24rem 0 0 0.3rem;
}
.brand-tr{
    width: 1.24rem;
    float: right;
    margin: .58rem 0.2rem 0 .2rem;
    text-align: center;
}
.brand-btn{
    width: 1.54rem;
    height: 0.78rem;
    display: inline-block;
    background: url("../image/icon/icon_ch.png") center center no-repeat;
    background-size: 100%;
}
.brand-name{
    color:#ffffff;
    .ft-20;
    text-align: center;
}
.brand-trend{
    color: #ffffff;
    .ft-26;
    text-align: center;
}
.brand-side{
    color: @grey-white;
    .ft-18;
    text-align: center;
}
.brand-sidebtn{
    width: .28rem;
    height: .28rem;
    line-height: 0.4rem;
    display: inline-block;
    background: url(../image/icon/icon_xinxin.png) center center no-repeat;
    background-size: 100%;
}
.zj{
    background: url(../image/icon/icon_sudden.png) center center no-repeat;
    background-size: 100%;
}
.xj{
    background: url(../image/icon/icon_down.png) center center no-repeat;
    background-size: 100%;
}
.ph{
    background: url(../image/icon/icon_smooth.png) center center no-repeat;
    background-size: 100%;
}
.sz{
    background: url(../image/icon/icon_up.png) center center no-repeat;
    background-size: 100%;
}
.bf{
    background: url(../image/icon/icon_xinxin.png) center center no-repeat;
    background-size: 100%;
}
.left-box{
    width: 25%;
    min-height: 1rem;
    overflow: hidden;
    float: left;
}
.information-box{
    width: 73%;
    float: left;
    background: @blue;
    margin:0.23rem 0.23rem 0 0 ;
}
.attention-rate{
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    margin-left: 1.2rem;
    margin-top: 0.4rem;
    background: @blue-black;
    border-radius: 50%;
    text-align: center;
}
.attention-num{
    height:0.4rem;
    width: 100%;
    position: absolute;
    margin-top: 0.55rem;
    .ft-40;
    color: @sky-blue;
}
.attention-name{
    width: 100%;
    margin-top: 1rem;
    position: absolute;
    .ft-18;
    color: @grey-white;
}
.classify{
    width: 8.22rem;
    height: 1.53rem;
    margin-top: .5rem;
    margin-left: 1rem;
}
.classify-content{
    width: 1.99rem;
    height: 1.53rem;
    margin-right: 0.03rem; 
    display: inline-block;
    background: @grey-blue; 
    text-align: center; 
}
.classify-num{
    height: 0.3rem;
    width: 100%;
    margin-top: 0.5rem;
    .ft-30;
    color: @white;
}
.classify-name{
    width: 0.8rem;
    height: 0.23rem;
    margin:0.1rem auto;
    background: #f195bc;
    .ft-16;
    line-height: 0.23rem;
    color:@blue-black;
    text-align: center;
}
.activity{
    background: #f195bc;
}
.news{
    background: #7fa3df;
}
.product{
    background: #f5e58e;
}
.event{
    background: #7bdda7;
}
.grade{
    width: 8.22rem;
    height: 1.53rem;
    margin-top: 0.55rem;
    margin-left: 1rem;
}
.grade-content{
    width: 1.7rem;
    height: 1.3rem;
    margin: 0.1rem;
    display: inline-block;
    background: #3b506f;
    border: 0.05rem solid #3b506f;
    border-radius: 0.1rem;
    text-align: center;
}
.grade-num{
    height: 1.02rem;
    width: 100%;
    line-height: 1.02rem;
    background: #233247;
    .ft-30;
    color: #fff;
    border-radius: 0.05rem 0.05rem 0 0;  
}
.grade-text{
    .ft-18;
    color: @grey-white;    
}
.circle{
    width: 9rem;
    height: 3.44rem;
    float: left;
}
.hotword{
    width: 2.13rem;
    height: 3.5rem;
    float: left;
    margin:0.64rem 0 0 0.5rem;
    background: @blue-black;
}
.hot-title{
    margin: 0.1rem 0 0.2rem 0.3rem;
    .ft-18;
    color: @grey-white;
}
.hotword-unit{
    display: block;
    width: 1.8rem;
    margin: 0.01rem 0 0 0.3rem;
    .ft-16;
    color: @grey-white;
}
.hotword-unit{
    > label{
        display: inline-block;
        margin-right: 0.1rem;
        width: 0.25rem;
    }
}
.hotter{
    color:@grey-white;
}
.click{
    border-right: 0.4rem solid @blue;
}
.unclick{
    border-right: 0;
}